.header {
	z-index: var(--puri-z-fixed);
	height: var(--puri-header-height);
	background-color: transparent;
	border-bottom: var(--puri-border);

	& .content,
	& .navbar {
		height: 100%;
	}

	& .navbar {
		overflow: hidden;
	}

	&.darker {
		background-color: var(--puri-background);
		box-shadow: var(--puri-dark-shadow);
	}
}
