<section id="about">
	<div class="content">
		<section class="about">
			<h2 class="txt-center mb-l h2">Conoce un poco más sobre mí</h2>

			<!-- About me info -->
			<div
				class="flex justify-center md-align-center flex-wrap md-flex-nowrap gap-n pt-n pb-n"
			>
				<div class="photo__container">
					<img
						srcset="/assets/images/webp/purihuaman.webp"
						src="/assets/images/purihuaman.png"
						alt="Pedro Purihuaman"
						width="48"
						height="48"
						loading="lazy"
						class="photo"
					/>
				</div>

				<div>
					<article class="txt-balance">
						<div class="md-p-n">
							<h3 class="mb-n">Un poco sobre mí</h3>
							<p class="mb-s">
								¡Hola! Soy Pedro Purihuaman, un<strong>
									desarrollador web</strong
								>
								apacionado por la creación de sistemas y aplicaciones web. Soy
								técnico egresado en<strong>
									Desarrollo de Sistemas de Información </strong
								>en el Instituto
								<strong>
									<a
										href="https://ibp.edu.pe/ibp/"
										rel="nofollow noopener noreferrer"
										target="_blank"
										class="about__link in-flex gap-s"
										title="Instituto El Buen Pastor"
									>
										<span class="icon cross-center">
											<svg class="svg-icon icon-link">
												<use href="/assets/icons/icons.svg#link"></use>
											</svg>
										</span>
										El Buen Pastor
									</a>
									.
								</strong>
							</p>

							<p>
								Siempre me ha motivado el construir y desarrollar sistemas y
								aplicaciones para el entorno web. Me gusta mucho, tanto la parte
								de la maquetación de interfaces web y la implementación de
								lógica de negocio en aplicaciones web. Me mantengo en constante
								formación para mantenerme actualizado en las últimas tendencias
								y tecnologías del desarrollo web y estoy ansioso por aplicar mis
								habilidades en proyectos innovadores y desafiantes. !Gracias!🙏
							</p>
						</div>
					</article>
				</div>
			</div>

			<!-- Tech and settings -->
			<div class="flex flex-col lg-flex-row gap-l">
				<!-- NOTE: tech -->
				<div class="tech">
					<h4 class="mb-n">Tecnologías y herramientas</h4>
					<p>
						Me encantaria participar en el desarrollo de proyectos en equipo
						para tener un impacto positivo y poder aportar valor en esos
						proyectos.<br />
						Manejo las siguientes tecnologías.👇
					</p>

					<!-- Skills -->
					<article class="pt-l pb-m">
						<app-skills></app-skills>
					</article>
				</div>

				<!-- NOTE: Experience -->
				<div class="pb-n experience">
					<div class="card">
						<div class="pb-n experience__header">
							<h4 class="">Experiencia</h4>
						</div>

						<div class="py-n">
							<article class="mb-n experience__item">
								<details class="experience__details px-n">
									<summary class="py-n summary">
										<strong class="pl-l">
											<span>Full Stack Web</span> - <span>D'Liz</span>
										</strong>
									</summary>
									<div class="pl-n py-n">
										<span>Punto de Venta (Proyecto educativo)</span>
									</div>
								</details>
							</article>

							<article class="mb-n experience__item">
								<details class="experience__details px-n">
									<summary class="py-n summary">
										<strong class="pl-l">
											<span>Full Stack Web</span> - <span>D'Liz</span>
										</strong>
									</summary>
									<div class="pl-n py-n">
										<span class="fs-6 text"
											>Punto de Venta (Proyecto educativo)</span
										>
									</div>
								</details>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
