<footer class="pt-l pb-l footer">
	<div class="content">
		<div
			class="flex flex-wrap align-center justify-center txt-center gap-l footer__content"
		>
			<!-- back to top button -->
			<a
				href="#home"
				#btnreturn
				class="fixed bottom-0 right-0 mb-n mr-s p-s bottom-return"
			>
				<span class="icon cross-center">
					<svg class="svg-icon svg-icon--md">
						<use href="/assets/icons/icons.svg#arrow-top" />
					</svg>
				</span>
			</a>

			<!-- Networks -->
			<app-network></app-network>

			<!-- Author -->
			<app-author></app-author>

			<!-- Credits -->
			<app-credits></app-credits>
		</div>
	</div>
</footer>
