// TODO: ==> Color paletter <==

:root {
	/* --puri-primary-50: #eff6ff;
	--puri-primary-100: #dbeafe;
	--puri-primary-200: #bfdbfe;
	--puri-primary-300: #93c5fd;
	--puri-primary-400: #60a5fa;
	--puri-primary-500: #3b82f6;
	--puri-primary-600: #2563eb;
	--puri-primary-700: #1d4ed8;
	--puri-primary-800: #1e40af;
	--puri-primary-900: #1e3a8a;
	--puri-primary-rgba: rgb(59, 130, 246, 0.2); // 500 */

	--puri-primary-400: #4fbcf7;
	--puri-primary-500: #039ff4;
	--puri-primary-600: #028df1;
	// --puri-primary-500: #039ff4;
	--puri-primary-rgba: rgb(3, 159, 244, 0.2); // 500

	--puri-danger-400: #f87171;
	--puri-danger-500: #ef4444;
	--puri-danger-600: #dc2626;
	--puri-danger-rgba: rgba(239, 68, 68, 0.2); // 500

	--puri-warning-400: #facc15;
	--puri-warning-500: #eab308;
	--puri-warning-600: #ca8a04;
	--puri-warning-rgba: rgba(234, 179, 8, 0.2); // 500

	--puri-success-400: #4ade80;
	--puri-success-500: #22c55e;
	--puri-success-600: #16a34a;
	--puri-success-rgba: rgba(34, 197, 94, 0.2); // 500

	--puri-secondary-400: #e879f9;
	--puri-secondary-500: #d946ef;
	--puri-secondary-600: #c026d3;
	--puri-secondary-rgba: rgba(217, 70, 239, 0.2); // 500

	--puri-link-color: var(--puri-primary-500);
	--puri-link-hover-color: var(--puri-primary-600);

	--puri-border-color: var(--puri-dark-300);
	--puri-border-width: 1px;
	--puri-border-style: solid;
	--puri-border: var(--puri-border-width) var(--puri-border-style)
		var(--puri-border-color);

	--puri-white: #fcf1fc;
	--puri-dark: #2b2b40;

	--puri-gradient: radial-gradient(
		40% 100% at 49.3% 0%,
		rgba(40, 173, 255, 0.2) 0%,
		rgba(21, 21, 33, 0) 100%
	);
}

// NOTE: Theme LIGHT
html[data-theme="light"],
.light {
	// --puri-dark-50: #fcf1fc;
	// --puri-dark-100: #f2f2fc;
	// --puri-dark-200: #f8f9fc;
	// --puri-dark-300: #e4e6ef;
	// --puri-dark-400: #7e8299;
	// --puri-dark-500: #565674;
	// --puri-dark-600: #2b2b40;
	// --puri-dark-700: #2a2a3c;
	// --puri-dark-800: #1e1e2d;
	// --puri-dark-900: #151521;

	--puri-dark-100: #fcf1fc;
	--puri-dark-200: #fdf9fd;
	--puri-dark-300: #dddfff;
	--puri-dark-400: #7e8299;
	--puri-dark-500: #2b2b40;
	--puri-dark-rgba: rgba(30, 30, 45, 0.1); // 100

	// --puri-dark-rgba: rgba(30, 30, 45, 0.2); // 100
	--puri-color: var(--puri-dark-500);
	--puri-background: var(--puri-dark-100);

	body {
		color: var(--puri-color);
		background-color: var(--puri-background);
	}
}

// NOTE: Theme DARK
html[data-theme="dark"],
.dark {
	// --puri-dark-50: #151521;
	// --puri-dark-100: #1e1e2d;
	// --puri-dark-200: #2a2a3c;
	// --puri-dark-300: #2b2b40;
	// --puri-dark-400: #565674;
	// --puri-dark-500: #7e8299;
	// --puri-dark-600: #e4e6ef;
	// --puri-dark-700: #f8f9fc;
	// --puri-dark-800: #f2f2fc;
	// --puri-dark-900: #fcf1fc;

	//
	--puri-dark-100: #1e1e2d;
	--puri-dark-200: #2a2a3c;
	--puri-dark-300: #2b2b40;
	--puri-dark-400: #7e8299;
	--puri-dark-500: #fcf1fc;
	--puri-dark-rgba: rgba(30, 30, 45, 0.6); // 100

	// --puri-dark-rgba: rgba(30, 30, 45, 0.4); // 100
	--puri-color: var(--puri-dark-500);
	--puri-background: var(--puri-dark-100);

	--puri-gradient: radial-gradient(
		40% 100% at 49.3% 0%,
		rgba(40, 173, 255, 0.2) 0%,
		rgba(21, 21, 33, 0) 100%
	);

	body {
		color: var(--puri-color);
		background-color: var(--puri-background);
	}
}

.active {
	color: var(--puri-primary-500) !important;
}
