@mixin buttons() {
	.btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		outline: none;
		font-family: inherit;
		font-size: inherit;
		padding: 0.5em 1.5em;
		border-radius: var(--puri-s-radius);
		text-decoration: none;
		cursor: pointer;
		line-height: inherit;
		border: var(--puri-border-width) var(--puri-border-style) transparent;
		transition: background-color, transform, border-color,
			var(--puri-transi-duration) var(--puri-transi-timing-func);
		transform: scale(1);

		&:active {
			transform: scale(0.98);
		}
	}

	.btn-primary {
		color: var(--puri-white);
		background-color: var(--puri-primary-500);
		border-color: var(--puri-primary-500);

		&:hover {
			border-color: var(--puri-primary-600);
			background-color: var(--puri-primary-600);
		}
	}

	.btn-secondary {
		color: var(--puri-primary-500);
		background-color: transparent;
		border-color: currentColor;

		&:hover {
			color: var(--puri-white);
			border-color: var(--puri-primary-500);
			background-color: var(--puri-primary-500);
		}
	}
}

@include buttons();
