.skills {
	--puri-skill-size: 90px;

	&__content {
		grid-template-columns: repeat(
			auto-fit,
			minmax(var(--puri-skill-size), 1fr)
		);
	}

	&__skill {
		flex: 1;
		min-width: var(--puri-skill-size);
		height: 100%;
		padding: 1em 0;
		text-decoration: none;
		border-radius: var(--puri-s-radius);
		border: 1px solid transparent;
		box-shadow: var(--puri-dark-shadow);
		color: var(--puri-color);
		transition: border-color, color, box-shadow,
			var(--puri-transi-duration) var(--puri-transi-timing-func);
		animation: floating var(--puri-animation-time)
			var(--puri-transi-timing-func) infinite;
		will-change: transform;

		&:hover {
			color: var(--puri-link-color);
			border-color: var(--puri-link-color);
		}

		&:nth-child(odd) {
			animation-delay: 2s;
		}
	}
}
