<article class="skills">
	<div class="grid gap-m skills__content">
		<ng-container *ngFor="let skill of skills">
			<a
				[href]="skill.url"
				target="_blank"
				class="txt-center block skills__skill"
				rel="nofollow noopener noreferrer"
			>
				<span class="block ml-auto mr-auto mb-s">
					<span class="icon cross-center justify-center">
						<svg class="svg-icon svg-icon--xl">
							<use [attr.xlink:href]="skill.urlIcon" />
						</svg>
					</span>
				</span>
				<small>{{ skill.title | titlecase }}</small>
			</a>
		</ng-container>
	</div>
</article>
