.card {
	min-height: 100%;
	color: var(--puri-color);
	background-color: var(--puri-dark-200);
	border-radius: var(--puri-n-radius);
	border: 1px solid transparent;
	box-shadow: var(--puri-dark-shadow);

	&:hover {
		border-color: var(--puri-primary-500);
	}

	&__body {
		line-height: 1.5rem;
	}

	&__title {
		color: var(--puri-primary-500);
	}

	&__image {
		aspect-ratio: 16 / 9;
		border-bottom: var(--puri-border);
	}

	&__svg {
		width: 100%;
		height: 100%;
	}
}
