<!-- Banner container -->
<section id="home">
	<div class="banner__container">
		<!-- Background -->
		<div class="absolute top-0 bg-gradient"></div>

		<!-- Modal -->
		<app-modal *ngIf="openModal$ | async"></app-modal>

		<!-- Dilimitador of page -->
		<div class="content">
			<!-- Banner -->
			<section class="ml-n mr-n banner">
				<!-- Banner content -->
				<div class="flex flex-col txt-center gap-m banner__left">
					<!-- Title -->
					<div>
						<h1 class="title h1">Desarrollador FrontEnd</h1>
					</div>

					<!-- Description -->
					<div>
						<p class="name h2">Pedro Purihuaman</p>
					</div>

					<!-- Buttons -->
					<div
						class="in-flex align-center justify-center flex-wrap gap-n banner__buttons"
					>
						<a href="#projects" class="btn btn-primary">Proyectos</a>
						<button class="btn btn-secondary" (click)="openModal()">
							Contactame
						</button>
					</div>
				</div>

				<!-- Banner photo -->
				<div class="pt-xl banner__right">
					<img
						src="assets/images/puriihuaman.png"
						alt="Pedro Purihuaman"
						width="48"
						height="48"
						loading="lazy"
						class="block mx-auto photo"
					/>
					<!--  -->
				</div>
			</section>
		</div>
	</div>
</section>
