.modal {
	--puri-size-card: 300px;
	width: 100%;
	height: 100%;
	background-color: var(--puri-dark-rgba);
	z-index: var(--puri-z-modal);

	transition: position 5s ease-in-out;

	&__card {
		min-width: var(--puri-size-card);
		min-height: var(--puri-size-card);
		background-color: var(--puri-dark-100);
		border-radius: var(--puri-s-radius);
		box-shadow: var(--puri-dark-shadow);
	}
}
