<div class="flex justify-center align-center gap-n network">
	<a
		href="https://twitter.com/puriihuaman"
		class="links twitter"
		title="Twitter"
		target="_blank"
		rel="nofollow noopener noreferrer"
	>
		<span class="icon cross-center">
			<svg class="svg-icon svg-icon--md">
				<use href="assets/icons/icons.svg#twitter"></use>
			</svg>
		</span>
	</a>

	<a
		href="https://www.linkedin.com/in/puriihuaman/"
		class="links linkedin"
		title="Linkedin"
		target="_blank"
		rel="nofollow noopener noreferrer"
	>
		<span class="icon cross-center">
			<svg class="svg-icon svg-icon--md">
				<use href="/assets/icons/icons.svg#linkedin"></use>
			</svg>
		</span>
	</a>

	<a
		href="https://github.com/purihuaman"
		class="links github"
		title="Github"
		target="_blank"
		rel="nofollow noopener noreferrer"
	>
		<span class="icon cross-center">
			<svg class="svg-icon svg-icon--md">
				<use href="/assets/icons/icons.svg#github"></use>
			</svg>
		</span>
	</a>
</div>
